<style>
    .selected{
        border:1px solid blue;
    }
    .fade{
        opacity: 1 !important;
    }
    .show{
        opacity:1 !important;
    }
</style>
<div class="content-wrapper" style="max-height:610px;overflow-y: auto">
    <!-- Content Header (Page header) -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <div class="col-md-12">
        <div class="col-md-6">
            <!--general form elements--> 
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>
                <!--/.box-header--> 
                <!--form start--> 
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Product name</label>
                        <input class="form-control" id="exampleInputEmail1" name="first" [(ngModel)]="product.productname" placeholder="name" type="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Rate</label>
                        <input class="form-control" id="exampleInputPassword1" name="second" [(ngModel)]="product.productrate" placeholder="rate" type="number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input  id="exampleInputFile" type="file" value="upload"  (change)=fileUploader($event)>

                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                </div>
                <!--/.box-body--> 

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary"  (click)="addproduct()">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <div class="box-body">
                        <ul >
                            <li *ngFor="let item of showproducts; let i = index;trackBy: trackByFn;" class="{{documentSelected.indexOf(item.id) > -1 ? 'selected':''}}" (click)="selectdocuments(item.id)" style="width:10%;display:inline-block;list-style-type: none;">
                                <img src="{{item.document_url}}" width="50" height="40">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary"  (click)="removeproduct()">Remove</button>
                    <button type="submit" class="btn btn-primary"  (click)="orderProduct()">Selected</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Ordered Products</h3>
                </div>
                <div class="box-body">
                    <ngb-carousel *ngIf="orderedProducts.length > 0">
                        <ng-template ngbSlide *ngFor="let item of orderedProducts; let i = index;trackBy: trackByprodFn;" >
                            <img [src]="item.document_url" alt="Random first slide">
                            <div class="carousel-caption">
                                <h3>10 seconds between slides...</h3>
                                <p>This carousel uses customized default values.</p>
                            </div>
                        </ng-template>
<!--                        <ng-template ngbSlide>
                            <img [src]="images[1]"  alt="Random second slide">
                            <div class="carousel-caption">
                                <h3>No keyboard...</h3>
                                <p>This carousel uses customized default values.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img [src]="images[2]" alt="Random third slide">
                            <div class="carousel-caption">
                                <h3>And no wrap after last slide.</h3>
                                <p>This carousel uses customized default values.</p>
                            </div>
                        </ng-template>-->
                    </ngb-carousel>
<!--                    <ul >
                        <li *ngFor="let item of orderedProducts; let i = index;trackBy: trackByprodFn;" class="{{documentSelected.indexOf(item.id) > -1 ? 'selected':''}}" (click)="selectdocuments(item.id)" style="width:10%;display:inline-block;list-style-type: none;">
                            <img src="{{item.document_url}}" width="50" height="40">
                        </li>
                    </ul>-->
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary"  (click)="removeOrderedProduct()">Remove</button>
                    <button type="submit" class="btn btn-primary"  (click)="orderProduct()">Selected</button>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
    <!--<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>-->


</div>
